tfoot th{
    padding: 0.5em !important;
    border-bottom: none !important;
    text-align: center !important;
    border-left: 1px solid #fff !important;
    background: #81B29A !important;
    color: #000 !important;
    font-weight: normal !important;
}
